footer
    .container
        p.footer-text
            | © 2016 Company, Inc. ·
            a.footer-link(href='#') Privacy
            |  ·
            a.footer-link(href='#') Terms


script(src='js/jquery-3.1.0.min.js')
script(src='js/bootstrap.min.js')