footer
    .container
        p
            | © 2016 Company, Inc. ·
            a(href='#') Privacy
            |  ·
            a(href='#') Terms


script(src='js/jquery-3.1.0.min.js')
script(src='js/bootstrap.min.js')