$kss-section-item-color: $cowabunga;
$kss-modifiers-heading-color: $black;
$kss-modifiers-name-color: $cowabunga;


.kss-documentation {
    z-index: 100;
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    padding-top: 80px;
    background: $white;
    transition: opacity 0.4s ease-out;

    &.kss-state-active { opacity: 0.1; }

    @include mq(min, 1024px) {
        padding-top: 20px;
        padding-left: calc(15% + 30px);
    }

    @include mq(min, 1280px) {
        padding-left: calc(20% + 30px);
    }

    @include mq(min, 1440px) {
        padding-left: calc(15% + 30px);
    }
}

.kss-section {
    margin-bottom: 20px;
    //padding-bottom: 40px;
    //border-bottom: 1px solid #eee;
    &--depth-2 {
        padding-top: 20px;
        border-top: 1px solid #eee;
    }
}

.kss-section__content {
    padding: 1em;

    ol,
    ul,
    p,
    a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.4;
    }
}

.kss-section__permalink,
.kss-section__permalink * { text-decoration: none !important; }

.kss-section__item {
    margin: 0;
    margin-bottom: 5px;
    color: $kss-section-item-color;
    font-size: rem(36px);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    &--depth-2 {
        font-size:rem(30px);
        margin-bottom: 25px;
        //border-bottom: 1px solid $kss-section-item-color;
        //padding-bottom: 20px;
    }

    &--depth-3 { font-size:rem(24px); }

    &--depth-4 { font-size:rem(20px); }

    &--depth-5 { font-size:rem(18px); }

    &--depth-6 { font-size:rem(16px); }
}

.kss-section__ref {
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
    font-weight: 300;
}

.kss-section__name {
    display: inline-block;
    vertical-align: middle;
    font-weight: 700;
    letter-spacing: -.02em;
}

.kss-parameters {
    padding-left: 40px;
    list-style-position: outside;
    list-style-type: circle;
}

.kss-parameters__item { margin-bottom: 15px; }

.kss-parameters__name {
    background: #f5f5f5;
    padding: 5px;
    
}

.kss-parameters__description {
    margin: 0;
    font-size: rem(16px);
    line-height: 1.7;
}

.kss-section__description {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.7;

    ol,
    ul,
    p,
    a {
        color: $black;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        line-height: 1.4;
    }

    ol,
    ul {
        padding-left: 40px;
        list-style-position: outside;
    }

    ol { list-style-type: decimal; }

    ul { list-style-type: circle; }

    ol,
    ul,
    p {
        margin: 0;
        font-size: rem(16px);
    }

    a {
        color: $blue;
        text-decoration: none;
    }

    a:hover,
    a:focus {
        color: lighten($blue, 15%);
        text-decoration: underline;
        outline: 0;
    }

    code {
        display: inline-block;
        padding: 2px 5px;
        background: #F5F5F5;
    }

    &--src {
        font-size: rem(13px);
        //font-style: italic;
        color: #888;
        //background-color: #eee;
        padding: 12px 0 15px;
        display: block;
        margin: 15px 0 20px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        code {
            background-color: #fff;
            color: #888;
            padding: 0;
        }
    }
}

.kss-section__source {
    margin: 0;
    color: darken($gray, 30%);
    font-size: rem(14px);
}

.kss-section__modifiers {
    border: 1px solid #eee;
    padding: 2em 15px;
    border-left: none;
    border-right: none;
    margin-bottom: 2em;
    // background: #FDFDFD;
}

.kss-modifiers__heading {
    display: none !important;
    /*
    margin: 0;
    margin-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: rem(21px);
    font-weight: 300;
    color: $kss-modifiers-name-color;
    text-transform: uppercase;
    */
}

.kss-modifiers__name {
    margin: 0;
    margin-bottom: 5px;
    font-size: rem(16px);
    font-weight: 600;
    color: $kss-modifiers-heading-color;
    display: inline-block;
    margin-right: 5px;
}

.kss-modifiers__description {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: rem(13px);
    display: inline-block;
    color: $kss-modifiers-heading-color;
}

.kss-modifiers__example {
    position: relative;
    min-height: 50px;
    margin-bottom: 25px;
    margin-top: 5px;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    &:last-child { margin-bottom: 0; }
}

.kss-section__markup {
    margin-top: -33px;
    margin-bottom: 50px;
}

.kss-section__markup pre[class*=language-] { margin: 0; }
