$kss-title-color: $cowabunga;

.kss-title {
  margin: 0;
  color: $kss-title-color;
  text-align: center;
  font-size: 17px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
}
