$kss-header-color: $cowabunga;
$kss-header-hamburger-color: $cowabunga;

$bar-height: 4px;
$bar-width: 30px;


.kss-header {
  background: $white;
  box-sizing: border-box;
  color: $kss-header-color;
  display: block;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  left: 0;
  min-height: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;

  @include mq(min, 1025px) { display: none; }
}

.kss-header__inner { position: relative; }

.kss-header__title {
  font-size: 17px;
  line-height: 25px;
  text-align: left;

  @include mq(min, 568px) { font-size: 20px; }
}

.kss-header__hamburger-trigger {
  cursor: pointer;
  display: block;
  height: 32px;
  position: absolute;
  right: 0;
  top: 0;
  width: 32px;
}

.kss-header__hamburger {
  background: $kss-header-hamburger-color;
  border-radius: 5px;
  color: $kss-header-hamburger-color;
  height: $bar-height;
  margin-bottom: 13px;
  margin-top: 13px;
  -webkit-transform:translate3d(0,0,0);
  transition: all 0.4s;
  width: $bar-width;
  &:before,
  &:after {
    background: $kss-header-hamburger-color;
    content: '';
    height: $bar-height;
    position: absolute;
    transition: all 0.5s;
    width: $bar-width;
  }
  &:before {
    border-radius: 5px;
    top: -$bar-height*2;
  }
  &:after {
    border-radius: 5px;
    top: $bar-height*2;
  }

  &.kss-state-active { background: transparent; }

  &.kss-state-active:before,
  &.kss-state-active:after {
    transition: all 0.5s;
    width: $bar-width/2;
  }

  &.kss-state-active:before { transform: translate(7px ,4px) rotate(-40deg); }

  &.kss-state-active:after { transform: translate(7px, -4px) rotate(40deg); }

  -webkit-perspective: 1000;

  -webkit-backface-visibility: hidden;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
