// primary theme color of the styleguide.
$cowabunga:       #d03a00;

// secondary colors.
$black:           #1e1914;
$gray:            #837e79;
$white:           #fff;

// utility colors.
$blue:            #3498DB;
$green:           #2ECC71;
$orange:          #F1C40F;
$red:             #E74C3C;
