@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Work+Sans:300,400,700,900");
.kss-body {
  margin: 0;
  padding: 0;
  background: #fff; }

.kss-title {
  margin: 0;
  color: #d03a00;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em; }

.kss-header {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding: 10px;
  color: #d03a00;
  background: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400; }
  @media only screen and (min-width: 102.6em) {
    .kss-header {
      display: none; } }

.kss-header__inner {
  position: relative; }

.kss-header__title {
  font-size: 1.6rem;
  line-height: 25px;
  text-align: left; }
  @media only screen and (min-width: 56.9em) {
    .kss-header__title {
      font-size: 2rem; } }

.kss-header__hamburger-trigger {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 32px;
  height: 32px;
  cursor: pointer; }

.kss-header__hamburger {
  width: 30px;
  height: 4px;
  margin-top: 13px;
  margin-bottom: 13px;
  border-radius: 5px;
  color: #d03a00;
  background: #d03a00;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  transition: all 0.4s; }
  .kss-header__hamburger:before, .kss-header__hamburger:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #d03a00;
    transition: all 0.5s; }
  .kss-header__hamburger:before {
    top: -8px;
    border-radius: 5px; }
  .kss-header__hamburger:after {
    top: 8px;
    border-radius: 5px; }
  .kss-header__hamburger.kss-state-active {
    background: transparent; }
  .kss-header__hamburger.kss-state-active:before, .kss-header__hamburger.kss-state-active:after {
    width: 15px;
    transition: all 0.5s; }
  .kss-header__hamburger.kss-state-active:before {
    transform: translate(7px, 4px) rotate(-40deg); }
  .kss-header__hamburger.kss-state-active:after {
    transform: translate(7px, -4px) rotate(40deg); }

.kss-navigation {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 85%;
  height: 100%;
  color: #1e1914;
  background: #eee;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out; }
  @media only screen and (min-width: 76.9em) {
    .kss-navigation {
      width: 35%; } }
  @media only screen and (min-width: 102.5em) {
    .kss-navigation {
      width: 15%;
      transform: translateX(0); } }
  @media only screen and (min-width: 128.1em) {
    .kss-navigation {
      width: 20%; } }
  @media only screen and (min-width: 144.1em) {
    .kss-navigation {
      width: 15%; } }
  .kss-navigation.kss-state-active {
    transform: none; }

.kss-navigation__title {
  display: none;
  box-sizing: border-box;
  padding: 30px 10px;
  font-weight: 400;
  color: #837e79; }
  @media only screen and (min-width: 102.5em) {
    .kss-navigation__title {
      display: block; } }

.kss-nav {
  overflow-y: auto;
  display: block;
  box-sizing: border-box;
  width: calc(100% - 30px);
  height: 100%;
  margin: 20px 15px 0;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 0;
  list-style-type: none;
  border-top: 1px solid #fff; }
  @media only screen and (min-width: 102.5em) {
    .kss-nav {
      padding-top: 0; } }

.kss-nav__item a {
  display: block;
  box-sizing: border-box;
  padding: 5px 20px 8px;
  color: #1e1914;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s;
  border-bottom: 1px solid #fff; }
  .kss-nav__item a:hover {
    color: #d03a00; }
  .kss-nav__item a:hover .kss-nav__name {
    transform: translateX(6px); }
  .kss-nav__item a.kss-state-active {
    color: #d03a00; }
  .kss-nav__item a.kss-state-active:hover .kss-nav__name {
    transform: none; }

.kss-nav__ref {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
  font-weight: 400; }

.kss-nav__name {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  transition: transform 0.3s;
  font-weight: 700; }

.kss-nav__subnav {
  margin-bottom: 10px;
  padding: 0;
  list-style-type: none; }
  .kss-nav__subnav .kss-nav__item a {
    padding: 2px 10px;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 300; }
  .kss-nav__subnav .kss-nav__item--grandchild a {
    padding-left: 40px;
    font-size: 16px; }

.kss-markdown {
  max-width: 1100px;
  overflow-x: hidden;
  overflow-y: auto; }
  .kss-markdown ul,
  .kss-markdown ol,
  .kss-markdown dl,
  .kss-markdown dd,
  .kss-markdown blockquote,
  .kss-markdown hr,
  .kss-markdown table,
  .kss-markdown form,
  .kss-markdown fieldset,
  .kss-markdown figure,
  .kss-markdown pre,
  .kss-markdown address,
  .kss-markdown a,
  .kss-markdown p,
  .kss-markdown h1, .kss-markdown h2, .kss-markdown h3, .kss-markdown h4, .kss-markdown h5, .kss-markdown h6 {
    color: #1e1914;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0; }
  .kss-markdown h1, .kss-markdown h2, .kss-markdown h3, .kss-markdown h4, .kss-markdown h5, .kss-markdown h6 {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.2; }
  .kss-markdown a {
    color: #3498DB;
    font-size: 1.6rem;
    text-decoration: none; }
  .kss-markdown a:hover,
  .kss-markdown a:focus {
    color: #75b9e7;
    outline: 0; }
  .kss-markdown h1 {
    color: #d03a00;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -.02em; }
  .kss-markdown h2 {
    color: #d03a00;
    font-weight: 500;
    margin-top: 4.8rem; }
  .kss-markdown h3,
  .kss-markdown h4,
  .kss-markdown h5,
  .kss-markdown h6 {
    font-weight: 700;
    margin-top: 2.4rem; }
  .kss-markdown h1 {
    font-size: 3.6rem; }
  .kss-markdown h2 {
    font-size: 2.8rem; }
  .kss-markdown h3 {
    font-size: 2.2rem; }
  .kss-markdown h4 {
    font-size: 2rem; }
  .kss-markdown h5 {
    font-size: 1.8rem; }
  .kss-markdown h6 {
    font-size: 1.6rem; }
  .kss-markdown ol,
  .kss-markdown ul,
  .kss-markdown p {
    font-size: 1.6rem;
    margin-bottom: 2.4rem; }
  .kss-markdown ol,
  .kss-markdown ul {
    font-size: 1.6rem;
    list-style-position: outside;
    padding-left: 40px; }
  .kss-markdown ol {
    list-style-type: decimal; }
  .kss-markdown ul {
    list-style-type: circle; }
  .kss-markdown img,
  .kss-markdown video,
  .kss-markdown audio,
  .kss-markdown embed,
  .kss-markdown object {
    display: block;
    max-width: 100%; }
  .kss-markdown audio,
  .kss-markdown canvas,
  .kss-markdown img,
  .kss-markdown video {
    vertical-align: middle; }
  .kss-markdown hr {
    border: 0;
    border-top: 1px solid #837e79;
    box-sizing: border-box;
    display: block;
    height: 1px;
    margin-bottom: 2.4rem;
    margin-top: 2.3rem;
    padding: 0; }
  .kss-markdown pre,
  .kss-markdown pre[class*=language-] {
    background: #F5F5F5;
    border: 1px solid #837e79;
    overflow: auto;
    padding: 1em; }
  .kss-markdown code {
    background: #F5F5F5;
    padding: 2px 5px; }

.kss-documentation {
  z-index: 100;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-top: 80px;
  background: #fff;
  transition: opacity 0.4s ease-out; }
  .kss-documentation.kss-state-active {
    opacity: 0.1; }
  @media only screen and (min-width: 102.5em) {
    .kss-documentation {
      padding-top: 20px;
      padding-left: calc(15% + 30px); } }
  @media only screen and (min-width: 128.1em) {
    .kss-documentation {
      padding-left: calc(20% + 30px); } }
  @media only screen and (min-width: 144.1em) {
    .kss-documentation {
      padding-left: calc(15% + 30px);
      border: 10px solid red; } }

.kss-section {
  margin-bottom: 40px; }

.kss-section__content {
  padding: 1em; }
  .kss-section__content ol,
  .kss-section__content ul,
  .kss-section__content p,
  .kss-section__content a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5; }

.kss-section__permalink,
.kss-section__permalink * {
  text-decoration: none !important; }

.kss-section__item {
  margin: 0;
  margin-bottom: 5px;
  color: #d03a00;
  font-size: 3.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }
  .kss-section__item--depth-2 {
    font-size: 2.4rem;
    border-bottom: 1px solid #d03a00;
    padding-bottom: 20px;
    margin-bottom: 25px; }
  .kss-section__item--depth-3 {
    font-size: 2.2rem; }
  .kss-section__item--depth-4 {
    font-size: 2rem; }
  .kss-section__item--depth-5 {
    font-size: 1.8rem; }
  .kss-section__item--depth-6 {
    font-size: 1.6rem; }

.kss-section__ref {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
  font-weight: 300; }

.kss-section__name {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  letter-spacing: -.02em; }

.kss-parameters {
  padding-left: 40px;
  list-style-position: outside;
  list-style-type: circle; }

.kss-parameters__item {
  margin-bottom: 15px; }

.kss-parameters__name {
  background: #f5f5f5;
  padding: 5px; }

.kss-parameters__description {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5; }

.kss-section__description {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 1.5; }
  .kss-section__description ol,
  .kss-section__description ul,
  .kss-section__description p,
  .kss-section__description a {
    color: #1e1914;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.5; }
  .kss-section__description ol,
  .kss-section__description ul {
    padding-left: 40px;
    list-style-position: outside; }
  .kss-section__description ol {
    list-style-type: decimal; }
  .kss-section__description ul {
    list-style-type: circle; }
  .kss-section__description ol,
  .kss-section__description ul,
  .kss-section__description p {
    margin: 0;
    font-size: 1.6rem; }
  .kss-section__description a {
    color: #3498DB;
    text-decoration: none; }
  .kss-section__description a:hover,
  .kss-section__description a:focus {
    color: #75b9e7;
    text-decoration: underline;
    outline: 0; }
  .kss-section__description code {
    display: inline-block;
    padding: 2px 5px;
    background: #F5F5F5; }

.kss-section__source {
  margin: 0;
  color: #333230;
  font-size: 1.4rem; }

.kss-section__modifiers {
  border: 1px solid #eee;
  padding: 2em 15px;
  border-left: none;
  border-right: none;
  margin-bottom: 2em; }

.kss-modifiers__heading {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.1rem;
  font-weight: 300;
  color: #d03a00;
  text-transform: uppercase; }

.kss-modifiers__name {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1e1914;
  display: inline-block;
  margin-right: 5px; }

.kss-modifiers__description {
  margin: 0;
  font-size: 1.5rem;
  display: inline-block;
  color: #1e1914; }

.kss-modifiers__example {
  position: relative;
  min-height: 50px;
  margin-bottom: 25px;
  margin-top: 5px; }
  .kss-modifiers__example:after {
    content: '';
    display: table;
    clear: both; }
  .kss-modifiers__example:last-child {
    margin-bottom: 0; }

.kss-section__markup pre[class*=language-] {
  margin: 0; }

.kss-colors-container {
  margin: 0;
  padding-left: 0; }
  @media only screen and (min-width: 56.9em) {
    .kss-colors-container {
      margin-left: -10px; } }

.kss-color {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 2px; }
  @media only screen and (min-width: 56.9em) {
    .kss-color {
      display: inline-block;
      width: 200px;
      margin-left: 20px; } }

.kss-color .kss-parameters__description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background: #fff; }

.kss-color__name {
  display: block;
  min-height: 22px;
  font-weight: 700;
  font-size: 0.9em;
  line-height: 1.5; }

.kss-color__var,
.kss-color__code {
  display: block;
  font-size: 0.9em;
  line-height: 1.4; }

.kss-color .kss-parameters__name {
  display: none; }
