// *************************************
//
//   Carousels
//
// *************************************


// -------------------------------------
//   Bootstrap Carousel
//   -> General settings
// -------------------------------------

.carousel {
    padding-top: 100px;
    min-height: 550px;
    margin-bottom: 70px;
    background: #ccc;
    &-title {
    }
    &-indicators {
         li {
             cursor: pointer;
         }
     }
    &-caption {
        position: relative;
        bottom: auto;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
    }
}




