// *************************************
//
//   Carousels
//
// *************************************


// -------------------------------------
//   Bootstrap Carousel
//   -> General settings
// -------------------------------------

.carousel {
    min-height: 400px;
    margin: 0 -15px 20px;
    background: #444;
    .carousel-control {
        background: 0;
    }
}
.carousel-title {
    color: $color-white;
}

